.logo-container {
    position: fixed; 
    top: 10px;      
    left: 30px;      
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px 10px;
    border-radius: 8px;
}
  
.Tube-img {
    width: 100px;
    height: auto;
}
  
.YouTube {
    margin: 0;
    font-size: 3em;
}
  
.KR {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.video-wrapper {
    margin-top: 70px;
    margin-left: 50px;
    width: 1400px;
    aspect-ratio: 16 / 9; 
}
  
.Video {
    width: 100%;
    height: 97%;
    display: block;
    border-radius: 15px;
    object-fit: cover; 
}

.Title-container {
    position: fixed; 
    top: 890px;      
    left: 40px;      
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    border-radius: 8px;
}

.Video-Title {
    font-size : 30px;
}

.Bssm-img {
    width : 60px;

}

.gudock-btn {
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    color : rgb(255, 255, 255);
}

.like-img {
    width : 20px;
}

.unlike-img {
    width : 20px;
}

.flag-img {
    width : 20px;
}

.like-btn {
    background-color: white;
    margin-left : 580px;
}

.unlike-btn {
    background-color: white;
}

.flag-btn {
    background-color: white;
}